.c-button{
    background-color: #c3122d;
    border-radius: 5px;
    width: 40vw;
    max-width: 1200px;
    text-decoration: none;
    &__link{
        text-align: center;
        color: #fff;
        text-decoration: none;
        font-size: 1.85vw;
        font-weight: bold;
        padding: 10px 0;
        @include mq-max(md){
            font-size: 4vw;
        }
        &::after{
            content: ">";
            font-weight: bold;
            position: relative;
            left: 10px;
        }
    }
    @include mq-max(md){
        width: 60vw;
    }
    &:hover{
        opacity: 0.8;
    }
}

.c-section{
    padding: 2rem rem(10px);
    &__h2{
        font-size: 42px;
        text-align: center;
    }
    &__h3{
        font-size: 24px;
        text-align: center;
    }
    &__txt{
        text-align: center;
        margin: rem(20px) 0;
        &--01{
            text-align: left;
            margin: rem(20px) 0;
        }
    }
    &__centerBox{
        text-align: center;
        padding: 2rem 0;
    }
    &__inner{
        max-width: 1200px;
        margin: 0 auto;
    }
    &__link{
        text-decoration: none;
        color: $blue;
        &:hover{
            color: $red;
        }
    }
    &__inner--card{
        text-align: center;
    }
    &__note{
        padding: rem(50px) 0 rem(80px);
        font-size: rem(12px);
    }
    &__inner--table{
        overflow: auto;
        overflow-y: hidden;        
    }
}

.c-2col{
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    max-width: 1080px;
    @include mq-max(md){
       flex-direction: column;
       justify-content: center;
    }
    &__column{
        width: 48%;
        margin-right: 30px;
        @include mq-max(md){
            width: 98%;
            text-align: center;
        }
    }
    &__h3{
        font-size: rem(34px);
        margin-top: 15px;
    }
    &__h4{
        font-size: rem(24px);
        margin-top: 20px;
    }
    &__txt{
        margin-top: 20px;
    }

}

.c-table{
    margin: 0 auto;
    border: solid 1px;
    border-collapse: collapse;
    margin-top: 50px;
    &__tr{
        border-bottom: 1px solid;
    }
    &__th{
        border: solid 1px;
        font-size: rem(24px);
        text-align: center;
        vertical-align: middle;
        font-weight: $bold;
        padding: 10px 25px;
    }
    &__td{
        font-size: rem(24px);
        text-align: center;
        vertical-align: middle;
        font-weight: $bold;
    }
    &__td--1{
        font-size: rem(16px);
        text-align: center;
        vertical-align: middle;
        font-weight: $bold;
        padding: 10px 25px;
    }
    &__span{
       font-size: rem(24px);
       font-weight: $bold;
    }
}

.c-table--01{
    border-collapse: collapse;
    border: solid 1px;
    width: 1200px;
    &__tr{
        border-bottom: 1px solid;
    }
    &__th{
        border: solid 1px;
        padding: 10px 25px;
        vertical-align: middle;
        text-align: left;
        font-weight: normal;
    }
    &__td{
        padding: 10px 25px;
    }
}

.c-note{
    text-align: center;
    margin-top:30px;
    font-size: 12px;
}