.p-campaign{
    background-color: $blue;
    text-align: center;
    color: #fff;
    padding: 0 0 60px;
    &__h2{
        font-size: rem(42px);
        padding-top: 80px;
    }
    &__txt{
        font-size: rem(24px);
        padding-top: 40px;
    }
    &__h3{
        font-size: rem(34px);
        color: #fff60a;
        font-weight: bold;
        span{
            font-size: rem(70px);
        }
    }
    &__box{
        display: flex;
        justify-content: center;
        margin: 50px 10px 0;
        @include mq-max(md){
           flex-direction: column;
        }

    }
    &__boxColumn{
        margin-right: 8vw;
        border: solid 1px #fff;
        width: 315px;

        @include mq-min(md){
            &:last-child{
                margin: 0;
            }
        }
        @include mq-max(md){
           width: 80%;
           margin: 0 auto 15px;
        }
    }
    &__boxColumnTxt{
        font-size: rem(24px);
        margin: 25px 0;
        padding: 0 3px;
    }
    &__boxColumnInner{
        height: 72px;
        @include mq-max(md){
            height: 100%;
        }
    }
    &__note{
        font-size: rem(12px);
        margin-top: 17px;
    }
}