.u-centerInner{
    display: flex;
    justify-content: center;
}
.u-centerTxt{
    text-align: center;
}

.u-center{
    text-align: center;
}

.u-mt60{
    margin-top: 60px;
}
.u-mt30{
    margin-top: 30px;
}
.u-color{
    &--red{
    color: #c3122d;
    }
}