// 基本フォント設定
html{
  font-size: 16px;
}
body {
  font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif, "メイリオ";
}

// 色指定
$yellow: #fff60a;
$red: #c3122d;
$blue: #003564;
$black: #212121;
// パスの設定
$img_path: '../img/';
// 文字の太さ
$bold: 600;

$breakpoints:(
  sm: 400px,
  md: 768px,
  lg: 1000px,
  xl: 1200px,
)!default;

// @include
/*
@include mq-max(md){
            font-size: 3.5vw;
        }
*/
@mixin mq-min($breakpoint){
    @media (min-width:#{map-get($breakpoints, $breakpoint)}) {
        @content;
    }
}
@mixin mq-max($breakpoint){
    @media (max-width:#{map-get($breakpoints, $breakpoint)}) {
        @content;
    }
}

@mixin screen($breakpoint:md, $breakpoint:xl) {
  @media screen and (min-width: #{map-get($breakpoints, md)}) and (max-width:#{map-get($breakpoints, xl)}) {
    @content;
  }
}

/* pxをremに変換する 
h1 {
  font-size: rem(24px); // -> 1.5rem
}
*/
@function rem($px) {
  @return ($px / 16px) * 1rem;
}









