.l-footer{
    background: $blue;
    color: #fff;
    padding: 3rem 1.5rem 2rem;
    &__h2{
        font-size: rem(24px);
        text-align: center;
        font-weight: $bold;
    }
    &__2col{
        display: flex;
        margin: 50px auto;
        justify-content: center;
    }
    &__col{
        padding: 0 60px 0 0px;
 
        &:last-child{
            padding: 0;
        }

    }
    &__txt{
        font-weight: $bold;
    }
    &__copy{
        text-align: center;
    }
    &__phone{
        font-size: rem(42px);
        font-weight: $bold;
    }
}