.l-header{
    width: 100%;
    background-image: url($img_path+'header-bk-01.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: calc(100vh - 3vw);
    &__logoArea{
        position: relative;
        top: 15px;
        left: 20px;
        display: inline-block;
    }
    &__contents{
        display: block;
        margin: 60px auto;
        width: 50vw;
        max-width: 1200px;
        background-color: rgba(6,6,6,0.3);
        @include mq-max(md){
            width: 80vw;
        }
    }
    &__lead{
        color: #fff;
        text-align: center;
        font-size: rem(28px);
        padding-top: 45px;
        line-height: 1.3;
    }
    &__txt{
        color: #fff;
        text-align: center;
        font-size: rem(36px);
        margin-top: 20px;
        font-feature-settings : "palt";
    }
    &__cardArea{
        img{
            display: block;
            margin: 0 auto;
        }
    }
    &__note{
        text-align: center;
        color: #fff;
        padding-bottom: 50px;
        font-size: rem(12px);
        margin: 0 6px;
    }
}