- var img_path = 'assets/img/'
- var css_path = 'assets/css/'
- var js_path = 'assets/js/'
- var domain = 'https://test/index.html'
- var content_d_state = "comingsoon"
-
 
  var pages = {
    top : {
      url : 'index.html',
      name : '',
      title : '',
      description : '',
      keywords : '',
      image : 'assets/img/ogp.jpg'
    },
    cont : {
      url : 'module.html',
      name : '',
      title : '',
      description : '',
      keywords : '',
    }
  }