head
  meta(charset='utf-8')
  include _config.pug
  - var key = "top";
  - var page = pages[key];
  title #{page.title}
  meta(name='description', content=page.description)
  meta(property='keywords', content=page.keywords)
  meta(property='og:site_name', content=page.name)
  meta(property='og:title', content=page.title)
  meta(property='og:type', content='website')
  meta(property='og:url', content=domain)
  meta(property='og:image', content=domain+page.image)
  meta(property='og:description', content=page.description)
  meta(property='og:keywords', content=page.keywords)
  meta(name='twitter:card', content='summary_large_image')
  meta(name='viewport', content='width=device-width, initial-scale=1.0, viewport-fit=cover')
  link(rel="canonical" href=domain)
  link(rel='shortcut icon', href=img_path+'favicon.ico')
  link(rel="apple-touch-icon" sizes="152x152" href=img_path+"apple-touch-icon-152x152.png")
  link(rel="icon" type="image/png" href=img_path+"android-chrome-192x192.png" sizes="192x192")
  link(rel='stylesheet', href=css_path+'style.css')
  script(src=js_path+'script.js')


